    Options -MultiViews

    RewriteEngine On

    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
    RewriteRule ^(.+?)/?$ /public/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ public/index.php [QSA,L]